.color1{
    color: #98E5C6
}
.color2{
    color: #CE6E67;
}
.color3{
    color: #9187CC;
}
.color4{
    color:#56B1EB;
}
.color5{
    color: #E08C46;
}
.color6{
    color: #D7D48B;
}
.color7{
    color:#ABA9A7;
}
.color8{
    color:red;
}
.active_box{
    background-color: red;
    border: 0!important;
    color: #fff!important;
}
.active_box1{
    background-color: #FCA85F;
    border: 0!important;
    color: #fff!important;
}
.van-nav-bar,.van-switch--on,.van-swipe__indicator--active{
    background-color: #FCA85F;
}
.van-nav-bar__text,.van-nav-bar .van-icon,.van-nav-bar__title{
    color: #fff;
}
.van-notice-bar {
    height: 7.5vw;
}
.van-address-item .van-radio__icon--checked .van-icon{
    background-color: #FCA85F;
    border-color: #FCA85F;
}
.van-tag--danger,.van-button--danger{
    background-color: #FCA85F;
    border-color: #FCA85F;
}
.van-collapse-item__content{
    padding: 0!important;
}
.van-field__label{
    width: 31vw;
}
.van-dropdown-item__option--active,.van-dropdown-menu__title--active,.van-dropdown-item__option--active .van-dropdown-item__icon{
    color: #FCA85F;
}
.van-dropdown-menu__title::after{
    border-color: transparent transparent #000 #000;
}
.van-dropdown-menu__bar{
    background-color:#FAFAFA;
    border-bottom: 1px solid #fff;
}
.van-popup--bottom.van-popup--round{
    border-radius: 1.5vw 1.5vw 0 0;
}