.color1{
    color: #98E5C6
}
.color2{
    color: #CE6E67;
}
.color3{
    color: #9187CC;
}
.color4{
    color:#56B1EB;
}
.color5{
    color: #E08C46;
}
.color6{
    color: #D7D48B;
}
.color7{
    color:#ABA9A7;
}
.color8{
    color:red;
}
.van-nav-bar{
    background-color: #FCA85F;
}
.van-nav-bar__text,.van-nav-bar .van-icon,.van-nav-bar__title{
    color: #fff;
}
.van-notice-bar {
    height: 7.5vw;
}