* {
    margin: 0;
    padding: 0;
}
/* 水平盒布局水平左对齐，垂直上对齐 */
.dis_row{
    display: flex;
    flex-direction: row;
}
/* 水平盒布局水平左对齐，垂直中对齐 */
.dis_row_default_center{
    display: flex;
    flex-direction: row;
    align-items: center;
}
/* 水平盒布局水平左对齐，垂直中对齐 */
.dis_row_start_center{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}
/* 水平盒布局水平两边分散对齐，垂直上对齐 */
.dis_row_between_start{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}
/* 水平盒布局水平右对齐，垂直中对齐 */
.dis_row_end_center{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;    
    align-items: center;
}
.div_row_end_warp{
    display: flex;
    flex-wrap: wrap;
}
/* 水平盒布局水平左右两边分散对齐，垂直中对齐 */
.dis_row_between_center{
    display: flex;
    flex-direction: row;
    justify-content: space-between;    
    align-items: center;
}
/* 水平盒布局水平居中分散对齐，垂直中对齐 */
.dis_row_around_center{
    display: flex;
    flex-direction: row;
    justify-content: space-around;    
    align-items: center;
}
/* 水平盒布局水平中对齐，垂直中对齐 */
.dis_row_center_center{
    display: flex;
    flex-direction: row;
    justify-content: center;    
    align-items: center;
}
/* 垂直盒布局水平右对齐，垂直中对齐 */
.dis_column_end_center{
    display: flex;
    flex-direction: column;
    justify-content: center;    
    align-items: flex-end;
}
/* 垂直盒布局水平中对齐，垂直中对齐 */
.dis_column_center_center{
    display: flex;
    flex-direction: column;
    justify-content: center;    
    align-items: center;
}
/* 垂直盒布局水平左对齐，垂直上对齐 */
.dis_column_start_start{
    display: flex;
    flex-direction: column;  
    align-items: flex-start;
    justify-content: flex-start;  
}
/* 垂直盒布局水平左对齐，垂直下对齐 */
.dis_column_end_start{
    display: flex;
    flex-direction: column;  
    align-items: flex-start;
    justify-content: flex-end;  
}
/* 垂直盒布局水平右对齐，垂直上对齐 */
.dis_column_start_end{
    display: flex;
    flex-direction: column;  
    align-items: flex-end;
    justify-content: flex-start;  
}
/* 垂直盒布局水平右对齐，垂直下对齐 */
.dis_column_end_end{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;    
}
/* 垂直盒布局水平左对齐，垂直中对齐 */
.dis_column_center_start{
    display: flex;
    flex-direction: column;
    justify-content: center;   
    align-items: flex-start; 
}
/* 垂直盒布局水平左对齐，垂直上下对齐 */
.dis_column_space_start{
    display: flex;
    flex-direction: column;
    justify-content: space-around;   
    align-items: flex-start; 
}
/* 垂直盒布局水平中对齐，垂直居中分散对齐 */
.dis_column_around_center{
    display: flex;
    flex-direction: column;
    justify-content: space-around;   
    align-items: center;
}
/* 垂直盒布局水平中对齐，垂直上下两边分散对齐 */
.dis_column_between_center{
    display: flex;
    flex-direction: column;
    justify-content: space-between;   
    align-items: center;
}
/* 垂直盒布局水平中对齐，垂直上对齐 */
.dis_column_center_start{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;  
}